@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: bold;
    src: url("/assets/fonts/iranyekanwebbold.ttf") format("truetype");
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 100;
    src: url("/assets/fonts/iranyekanwebthin.ttf") format("truetype");
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 300;
    src: url("/assets/fonts/iranyekanweblight.ttf") format("truetype");
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: normal;
    src: url("/assets/fonts/iranyekanwebregular.ttf") format("truetype");
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 500;
    src: url("/assets/fonts/iranyekanwebmedium.ttf") format("truetype");
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 800;
    src: url("/assets/fonts/iranyekanwebextrabold.ttf") format("truetype");
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 900;
    src: url("/assets/fonts/iranyekanwebblack.ttf") format("truetype");
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 950;
    src: url("/assets/fonts/iranyekanwebextrablack.ttf") format("truetype");
}

body {
    font-family: iranyekan;
    font-weight: normal;
}
